apiVersion: apps/v1
kind: Deployment
metadata:
  name: sk-catalog
  namespace: dev
  labels:
    app: sk-catalog
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sk-catalog
  template:
    metadata:
      labels:
        app: sk-catalog
    spec:
      containers:
        - name: sk-catalog
          image: us-central1-docker.pkg.dev/srikarcool1/srikart-repo/sk-catalog:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8081
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8081
            initialDelaySeconds: 30
            periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: sk-catalog
  namespace: dev
spec:
  selector:
    app: sk-catalog
  ports:
    - name: http
      port: 8081
      targetPort: 8081
  type: ClusterIP

